.container {
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 20px;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}
#navbar {
  width: 100%;
  z-index: 2;
  position: fixed;
}

.title {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: #333;
}

.subtitle {
  font-size: 1.1em;
  margin-bottom: 2em;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
}

input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #337ab7;
}

button {
  padding: 0.5em;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #23527c;
}

#aboutus {
  padding-top: 40px;
}
.info-card p {
  text-align: center;
  /* align-items: center; */
  padding-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.info-card {
  display: flex;
  /* height: 100vh; */
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-label {
  font-weight: bold;
  margin-right: 10px;
}

.info-value {
  font-size: 1.2em;
  font-weight: bold;
}
.about-down {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.card-text {
  font-weight: 900;
  text-align: left;
  margin-top: -25px;
  color: rgb(62, 62, 65);
  /* padding-top: 5px; */
}
.card {
  height: 50%;
}

#services {
  padding-top: 60px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
}
.service-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.service-right {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
/* #contact {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
/* height: 100vh;
  background-color: #4f4d4d;
  color: white;
} */
.contact-right .icons {
  font-size: 50px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.rigth {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-container {
  font-family: "outfit";
  background: linear-gradient(#ffdad5, #fff7f9);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.contact-left-tittle h2 {
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-tittle hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #ff994f;
}
.contact-inputs::placeholder {
  color: #f07171;
}
.contact-left button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}
.btn {
  font-size: 18px;
  text-align: center;
  margin: 10px;
  color: #0e0d0d;
  background-color: #bc8bf0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  background-color: #585bf5;
}
